<!DOCTYPE html>
<html>
<head>
    <title>Historias Clínicas</title>
</head>
<body>
    <h1>Historias Clínicas para {{ paciente.nombre_completo }}</h1>

    <ul>
        {% for historia_clinica in historias_clinicas %}
            <li>
                <strong>Fecha:</strong> {{ historia.fecha }} - 
                <a href="{% url 'hc_maquillaje:editar_historia_clinica' historia.pk %}">Editar</a>
                <a href="{% url 'hc_maquillaje:ver_historia_clinica' historia_clinica.id %}" class="btn btn-info">Ver</a>
            </li>
        {% empty %}
            <li>No hay historias clínicas registradas.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'pacientes:detalle_paciente' paciente.id %}">Volver al detalle del paciente</a>
</body>
</html>
